<%= form_with url: { action: 'upload' }, method: :post, multipart: true, local: true, class: 'upload-form' do %>
  <h3><%= _('Upload a File to your Site') %></h3>
  <div class="upload-field">
    <%= file_field_tag 'upload[filename]', class: 'input-file', accept: '*/*' %>
  </div>
  <div class="upload-actions">
    <%= submit_tag _('Upload'), class: 'btn btn-primary' %>
  </div>
<% end %>
