development:
  adapter: sqlite3
  database: db/db_development
  timeout: 5000

test: &test
  adapter: sqlite3
  database: db/db_test
  timeout: 60000
  pool: 5

production:
  adapter: postgresql
  database: db_production
  timeout: 5000

cucumber:
  <<: *test
cucumber:
  <<: *test
